<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://httptriggerfunctionapp20231008011910.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6c06f663-0d52-42b0-ae54-fee63fb44502/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/HttpTriggerFunctionApp20231008011910</ResourceId>
    <UserName>$HttpTriggerFunctionApp20231008011910</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://httptriggerfunctionapp20231008011910.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>